@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

h1,
h4,
h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
}

h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

a {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

button {
    font-family: "Poppins", sans-serif;
}

p {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

small {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}
